<div>
  <div class="bor">
    <!-- 管理员信息列表 -->
    <div>
        <el-button type="success" class="myAdd_btn fl" @click="addAdminUser"
          >添加银行卡</el-button
        >
      </div>
    <el-table
      :data="tableData.data"
      style="width: 100%;text-align: center"
      :default-sort="{prop: 'date', order: 'descending'}"
      border
    >
      <el-table-column prop="id" label="ID"></el-table-column>
      <el-table-column prop="bank.bank_name" label="银行名称"></el-table-column>
      <el-table-column prop="sub_branch" label="支行名称"></el-table-column>
      <el-table-column prop="account_name" label="开户名"></el-table-column>
      <el-table-column prop="card_number" label="银行卡号"></el-table-column>
      <el-table-column prop="province" label="所在省"></el-table-column>
      <el-table-column prop="city" label="所在城市"></el-table-column>
      <el-table-column prop="alias" label="别名"></el-table-column>

      <el-table-column label="默认结算">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.default"
            active-color="#67c23a"
            inactive-color="#dcdfe6"
            active-value="1"
            inactive-value="0"
            @change="handleStatus(scope.$index, scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注"></el-table-column>
      <el-table-column label="操作" width="160px">
        <template slot-scope="scope">
          <!-- <el-button size="mini" class="" @click="editorPassword({type:'open',index:scope.$index,row:scope.row})"
            >改密</el-button> -->
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
            >修改</el-button
          >
          <!-- <el-button disabled
            size="mini"
            type="danger"
            class="myDeleteColor"
            @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          > -->
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <!-- <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="+currentPage" background :page-sizes="[20, 50, 100, 200]" :page-size="+pageSize" layout="total, sizes, prev, pager, next, jumper" :total="+total"></el-pagination> -->
  
    <!-- 信息编辑 -->
    <el-dialog
      title="编辑信息"
      class="text-left addClass"
      :visible.sync="outerVisible"
    >
      <el-form ref="editForm" :model="editForm" :rules="rules">
        <el-form-item
          class="my_form_inp"
          label="银行名称: "
          :label-width="formLabelWidth"
          prop="bank.bank_name"
        >
          <el-input
            placeholder="银行名称:"
            v-model="editForm.bank.bank_name"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="支行名称: "
          :label-width="formLabelWidth"
          prop="sub_branch"
        >
          <el-input
            placeholder="支行名称:"
            v-model="editForm.sub_branch"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="开户行: "
          :label-width="formLabelWidth"
          prop="account_name"
        >
          <el-input
            placeholder="开户行:"
            v-model="editForm.account_name"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="银行卡号: "
          :label-width="formLabelWidth"
          prop="card_number"
        >
          <el-input
            placeholder="银行卡号"
            v-model="editForm.card_number"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="所在省: "
          :label-width="formLabelWidth"
          prop="province"
        >
          <el-input
            placeholder="所在省:"
            v-model="editForm.province"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="所在城市:"
          :label-width="formLabelWidth"
          prop="city"
        >
          <el-input
            placeholder="所在城市:"
            v-model="editForm.city"
            autocomplete="off"
            disabled
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="别名: "
          :label-width="formLabelWidth"
          prop="alias"
        >
          <el-input
            placeholder="别名"
            v-model="editForm.alias"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="备注: "
          :label-width="formLabelWidth"
          prop="remark"
        >
          <el-input
            placeholder="备注:"
            v-model="editForm.remark"
            autocomplete="off"
          ></el-input>
        </el-form-item>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="outerVisible = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="isUpdate('editForm')"
          >修 改</el-button
        >
      </div>
    </el-dialog>
    <!-- 添加信息 -->
    <el-dialog
      title="添加信息"
      class="text-left addClass"
      width="816px"
      :visible.sync="dialogFormVisible"
    >
      
      <el-form ref="addForm" :model="editor_tableData" :rules="rules.editor_tableData">
          <el-form-item
          class="my_form_inp deposit_bank"
          label="银行名称: "
          :label-width="formLabelWidth"
          prop="bank_name"
        >
        <label>
            <el-select v-model="OpeningBankVal" placeholder="请选择开户行" filterable>
               <el-option
                v-for="item in OpeningBank"
                :key="item.id"
                :label="item.bank_name"
                :value="item.id"
              ></el-option>
            </el-select>
        </label>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="支行名称: "
          :label-width="formLabelWidth"
          prop="sub_branch"
        >
          <el-input
            placeholder="支行名称:"
            v-model="editor_tableData.sub_branch"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp region_class"
          label="地址: "
          :label-width="formLabelWidth"
          prop="region"
        >
        <area-cascader placeholder="请选择开卡地址" v-model="editor_tableData.region" type="text" :data="pcaa"></area-cascader>
      </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="开户名: "
          :label-width="formLabelWidth"
          prop="account_name"
        >
        
          <el-input
            placeholder="开户名:"
            v-model="editor_tableData.account_name"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        
        <el-form-item
          class="my_form_inp"
          label="银行卡号: "
          :label-width="formLabelWidth"
          prop="card_number"
        >
          <el-input
            placeholder="银行卡号"
            v-model="editor_tableData.card_number"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item class="my_form_inp" :label-width="formLabelWidth" label="别名：" prop="alias" :rules="rules.alias">
            <el-input
              v-model="editor_tableData.alias"
              class="email_input"
            ></el-input>
          </el-form-item>
          <el-form-item class="my_form_inp" :label-width="formLabelWidth" label="备注：" prop="remark" :rules="rules.remark">
            <el-input
              v-model="editor_tableData.remark"
              class="email_input"
            ></el-input>
          </el-form-item>
        <!-- <el-form-item
          class="my_form_inp"
          label="所在省: "
          :label-width="formLabelWidth"
          prop="province"
        >
          <el-input
            placeholder="所在省:"
            v-model="editor_tableData.province"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="所在城市:"
          :label-width="formLabelWidth"
          prop="city"
        >
          <el-input
            placeholder="所在城市:"
            v-model="editor_tableData.city"
            autocomplete="off"
          ></el-input>
        </el-form-item> -->
        <!-- <el-form-item
          class="my_form_inp"
          label="别名: "
          :label-width="formLabelWidth"
          prop="email"
        >
          <el-input
            placeholder="别名"
            v-model="editForm.email"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="备注: "
          :label-width="formLabelWidth"
          prop="introduction"
        >
          <el-input
            placeholder="备注:"
            v-model="editForm.introduction"
            autocomplete="off"
          ></el-input>
        </el-form-item> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogFormVisible = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="submitForm()"
          >保 存</el-button
        >
      </div>
    </el-dialog>
  </div>
</div>
