<div>
  <div class="bor">
    <div class="header">申请结算</div>
    <div class="bor_p">
      <div class="success bor_text"><span class="title" >可提现:</span><span class="box">0元</span></div>
      <div class="warning bor_text"><span class="title">冻结:</span><span class="box">0元</span></div>
      <div class="blue bor_text"><span class="title">结算:</span><span class="box">0元</span></div>
    </div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="150px"
      class="demo-ruleForm"
    >
      <el-form-item label="提现金额：" prop="apply_money" >
          <el-input-number class="apply_money" v-model="ruleForm.apply_money"  :controls='false' @blur="handleBlur"></el-input-number>
        <span class="apply_money_span">注:提现金额最小100.00元.含提现手续费,直接在金额中扣除</span>
      </el-form-item>
      <el-form-item label="到账金额：" prop="reality_money">
        <el-input-number v-model="ruleForm.reality_money" :controls='false' :disabled='true'></el-input-number>
      </el-form-item>
      <el-form-item label="手续费：" prop="calc_money">
        <el-input-number v-model="ruleForm.calc_money" :controls='false' :disabled='true'></el-input-number>
      </el-form-item>
      <el-form-item label="结算银行卡：" >
        <el-select placeholder="请选择" @change="change_bank()" class="email_input" v-model="ruleForm.bank_id" filterable>
            <el-option
              v-for="(item,index) in classifyOptions"
              :key="index"
              :label="item.bank_name"
              :value="item.id"
            ></el-option>
          </el-select>
      </el-form-item>
      <el-form-item label="支付密码：" >
        <el-input v-model="ruleForm.payment_code" show-password class="email_input"></el-input>
      </el-form-item>
      
      <el-form-item class="myTableForm">
        <el-button
          type="primary"
          class="submitBtn"
          @click="submitForm('ruleForm')"
          >立即提交</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
    <!-- <hr style="background:#ddd;height: 1px;border: none;" /> -->
    <!-- <el-form
    :model="ruleForm"
    :rules="rules"
    ref="ruleForm"
    label-width="150px"
    class="demo-ruleForm"
  >
    <el-form-item label="发件人Email：">
      <el-input v-model="ruleForm.senderEmail"></el-input>
  </el-form> -->
  </div>
</div>
