<div class="content">
  <div class="cont-box">
    <el-row :gutter="20">
      <el-col :span="12">
        <div class="grid-content bg-purple">
          <el-form ref="form" :model="form">
            <el-upload
              class="upload-demo"
              drag
              action=""
              multiple
              :on-success="handleSuccess"
              :headers="headers"
              :before-upload="beforeAvatarUpload"
              :http-request="handleFile"
              :show-file-list="false"
              accept="image/png,image/jpg"
            >
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                微信固码上传，将文件拖到此处，或<em>点击上传</em>
              </div>
              <div class="el-upload__tip" slot="tip">
                只能上传jpg/png文件，且不超过500kb
              </div>
            </el-upload>
          </el-form>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-content bg-purple">
          <el-form ref="form" :model="form">
            <el-upload
              class="upload-demo"
              drag
              action=""
              multiple
              :headers="headers"
              :before-upload="beforeUpload"
              :http-request="handleFile"
              :show-file-list="false"
              accept="image/png,image/jpg"
            >
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">
                支付宝固码上传，将文件拖到此处，或<em>点击上传</em>
              </div>
              <div class="el-upload__tip" slot="tip">
                只能上传jpg/png文件，且不超过500kb
              </div>
            </el-upload>
          </el-form>
        </div>
      </el-col>
    </el-row>

    <el-table :data="tableData" border style="width: 100%">
      <el-table-column prop="id" label="ID"> </el-table-column>
      <el-table-column prop="qr_url" label="二维码地址">
        <template slot-scope="scope">
          <el-popover trigger="hover" placement="top">
            <p>{{ scope.row.qr_url }}</p>
            <div slot="reference" class="name-wrapper qrcode_url">
              <el-tag size="medium"
                >{{
                  scope.row.qr_url.substring(scope.row.qr_url.length - 16)
                }}...</el-tag
              >
            </div>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column prop="pay_type_id" label="类型"> </el-table-column>
      <el-table-column prop="qr_price" label="金额" width="200px">
        <template slot-scope="scope">
          <el-input-number v-model="scope.row.qr_price" controls-position="right" 
          @change="handleBlur(scope.$index, scope.row)" style="width: 80%"></el-input-number>
        </template>
      </el-table-column>
      <el-table-column prop="weight_coefficient" label="权重" width="100px">
        <template slot-scope="scope">
          <el-input
            v-model.trim="scope.row.weight_coefficient"
            autocomplete="off"
            @blur="BlurWeightText({ev:$event,index:scope.$index, row:scope.row})"
          ></el-input>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            active-color="#67c23a"
            inactive-color="#dcdfe6"
            @change="handleStatus(scope.$index, scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="created_at" label="上传时间"> </el-table-column>

      <el-table-column label="操作" width="200px">
        <template slot-scope="scope">
          <!-- <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button> -->
          <el-button size="mini" @click="handleDelete(scope.$index, scope.row)"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="+currentPage"
      background
      :page-sizes="[20, 50, 100, 200]"
      :page-size="+pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="+total"
    ></el-pagination>
    <!-- 信息编辑 -->
    <el-dialog
      title="编辑信息"
      class="text-left addClass"
      width="490px"
      :visible.sync="outerVisible"
    >
      <el-form ref="editForm" :model="editForm">
        <el-form-item
          class="my_form_inp"
          label="二维码金额: "
          :label-width="formLabelWidth"
          prop="price"
        >
          <el-input
            placeholder="请输入二维码金额"
            v-model.trim="editForm.price"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="outerVisible = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="isUpdate('editForm')"
          >修 改</el-button
        >
      </div>
    </el-dialog>
  </div>
</div>
