<div>
  <div class="bor">
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="150px"
      class="demo-ruleForm"
    >
      <el-form-item label="网站名称：" prop="site_name" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.site_name"></el-input>
      </el-form-item>
      <el-form-item label="网站地址：" prop="site_domain" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.site_domain"></el-input>
      </el-form-item>
      <el-form-item label="联系邮箱：" prop="email" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.email"></el-input>
      </el-form-item>
      <el-form-item label="客服电话：" prop="tel" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.tel"></el-input>
      </el-form-item>
      <el-form-item label="网站客服QQ：" prop="qq" :label-width="formLabelWidth">
        <el-input
          v-model="ruleForm.qq"
          placeholder="多个QQ号用 | 分割"
        ></el-input>
      </el-form-item>
      <el-form-item label="后台目录名称：" prop="directory" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.directory"></el-input>
      </el-form-item>
      <el-form-item label="ICP备案号：" prop="icp" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.icp"></el-input>
      </el-form-item>
      <el-form-item label="统计：" prop="statistics" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.statistics"></el-input>
      </el-form-item>
      <el-form-item label="登录地址：" prop="login" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.login"></el-input>
      </el-form-item>
      <el-form-item label="商户认证：" prop="authorized" :label-width="formLabelWidth">
        <el-switch
          v-model="authorized"
          active-color="#13ce66"
          inactive-color="#ff4949">
        </el-switch>
      </el-form-item>
      <el-form-item label="邀请码：" prop="invitecode" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.invitecode"></el-input>
      </el-form-item>
      <el-form-item label="公司名称：" prop="company" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.company"></el-input>
      </el-form-item>
      <el-form-item label="授权服务：" prop="serverkey" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.serverkey"></el-input>
      </el-form-item>
      <el-form-item label="提现通知：" prop="withdraw" :label-width="formLabelWidth">
        <el-switch
          v-model="withdraw"
          active-color="#13ce66"
          inactive-color="#ff4949"
          >
        </el-switch>
      </el-form-item>
      <el-form-item label="错误登录次数：" prop="login_warning_num" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.login_warning_num"></el-input>
      </el-form-item>
       <el-form-item label="登录IP：" prop="login_ip" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.login_ip"></el-input>
      </el-form-item>
       <el-form-item label="是否允许重复订单：" prop="is_repeat_order" :label-width="formLabelWidth">
        <el-switch
          v-model="is_repeat_order"
          active-color="#13ce66"
          inactive-color="#ff4949"
          >
        </el-switch>
      </el-form-item>
      <el-form-item label="公司Logo：" prop="logo" :label-width="formLabelWidth">
        <!-- <el-input v-model="ruleForm.logo"></el-input> -->
        <el-upload
        action="https://jsonplaceholder.typicode.com/posts/"
        list-type="picture-card"
        accept="image/png,image/jpg"
        :headers="headers"  
        :before-upload="beforeAvatarUpload" 
        :http-request="handleFile"
        :file-list="fileList"
        :limit="1"
        :on-remove="handleRemove">
        <i class="el-icon-plus"></i>
      </el-upload>
      <el-alert
        title="只允许上传一个Logo,只能上传jpg/png文件，且不超过500kb"
        type="warning"
        :closable="false"
        >
      </el-alert>
 
      </el-form-item>
      <el-form-item label="是否开启随机商户号：" prop="random_mchno" :label-width="formLabelWidth">
        <el-switch
          v-model="random_mchno"
          active-color="#13ce66"
          inactive-color="#ff4949"
          >
        </el-switch>
      </el-form-item>
      <el-form-item label="用户注册需要激活：" prop="register_need_activate" :label-width="formLabelWidth">
        <el-switch
          v-model="register_need_activate"
          active-color="#13ce66"
          inactive-color="#ff4949"
          >
        </el-switch>
      </el-form-item>
       <el-form-item label="管理员是否只允许同一时间登录一次：" prop="admin_alone_login" :label-width="formLabelWidth">
         <el-switch
          v-model="admin_alone_login"
          active-color="#13ce66"
          inactive-color="#ff4949"
          >
        </el-switch>
      </el-form-item>
       <el-form-item label="验证错误超限冻结时间：" prop="max_auth_error_times" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.max_auth_error_times"></el-input>
      </el-form-item>
      <el-form-item label="验证错误的最大次数：" prop="auth_error_ban_time" :label-width="formLabelWidth">
        <el-input v-model="ruleForm.auth_error_ban_time"></el-input>
      </el-form-item>
      <el-form-item class="myTableForm"> 
        <el-button
          type="primary"
          class="submitBtn"
          @click="submitForm('ruleForm')"
          >立即提交</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</div>
