.box_logo_img {
  position: relative;
  top: 50%;
  .logo_img {
    position: absolute;
    width: 38px;
    transform: translateY(-50%);
  }
}
.fullCur {
  cursor: pointer;
}
.home {
  min-width: 1280px;
}
.svg_icon {
  margin-right: 10px;
}