  .el-row {
    margin-bottom: 20px;
    line-height: 20px;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #fff;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #fff;
  }
  .main-head{
    padding:15px;
    background: #fff;
    line-height: 20px;
    background-color: #d3dce6;
    text-align: left;
  }
  .cont-head{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px;
    font-size: 14px;
    color: #666
  }
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 20px 15px;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    font-size: 16px;
    color: #666;
}
.fr{
    float: right;
}
.unit{
  color: #4882ce;
  padding-top:6px;
}
.chart{
  height: 240px;
  width: 100%;
}