  .el-row {
    margin-bottom: 20px;
    line-height: 20px;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .main-box{
    -webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
   	 	user-select: none;
    .position_ip{
      position: absolute;
      right: 25px;
      top: 74px;
      display: flex;
      font-size: 16px;
      color: #666;
      div{
        height: 50px;
        line-height: 50px;
        span{
          padding-left: 10px;
        }
      }
      .left_span{
        margin-right: 50px;
      }
    }
    .merchant_block{
      display: flex;
      margin-left: -20px;
    margin-right: -20px;
    justify-content: space-between;
      .grid-content_bg-purple{
        height: 100px;
        width:18%;
        background: #fff;
        padding: 10px 0;
        margin-bottom: 15px;
        text-align: center;
        .cont-head,.chart{
          padding: 0;
          height: 40px;
          line-height:40px;
        }
        .ibox-content{
          padding: 0;
          .chart{
          height: 100%;
          display: flex;
          justify-content: center;

          }
        }
      }
    }
  }
  .el-col {
    border-radius: 2px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #fff;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 2px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #fff;
  }
  .main-head{
    padding:15px;
    background: #fff;
    line-height: 20px;
    background-color: #d3dce6;
    text-align: left;
  }
  .cont-head{
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 0px 15px;
    font-size: 14px;
    color: #666
  }
  .ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding:50px 15px;
    font-size: 20px;
    color: #008CE5;
    text-align: center;
}
.fr{
    float: right;
}
.unit{
    color: #666;
    margin-left: 10px;
    font-size: 12px;
}
.chart{
  height: 240px;
  width: 100%;
}