<div class="main-box">
    <!-- <div class="main-head">用户名：{{userName}}</div> -->
    <el-row :gutter="20" style="margin-top:20px">
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">今日总订单数</div>
                <div class="ibox-content">{{total_success_amount}}<span class=" unit">元</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">今日已付订单数</div>
                <div class="ibox-content">{{total_pending_amount}}<span class=" unit">元</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">今日未付订单数</div>
                <div class="ibox-content">{{total_success_count}}<span class="unit">笔</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">今日收入</div>
                <div class="ibox-content">{{total_pending_count}}<span class=" unit">笔</span></div>
            </div>
        </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px">
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">今日实付金额</div>
                <div class="ibox-content">{{total_success_amount}}<span class=" unit">元</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">余额</div>
                <div class="ibox-content">{{total_pending_amount}}<span class=" unit">元</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">冻结</div>
                <div class="ibox-content">{{total_success_count}}<span class=" unit">笔</span></div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="grid-content bg-purple">
                <div class="cont-head">投诉保证金</div>
                <div class="ibox-content">{{total_pending_count}}<span class=" unit">笔</span></div>
            </div>
        </el-col>
    </el-row>
    <!-- <el-row :gutter="20">
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <div class="cont-head">订单数目统计</div>
                <div class="ibox-content">
                    <div class="chart" id="myChart">
                    </div>
                </div>
            </div>
        </el-col>
    </el-row> -->
    <el-row :gutter="20">
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <div class="cont-head" style="margin-bottom: 10px">日交易统计
                    <!-- <el-select v-model="time" placeholder="请选择" class="" @change="handelTime">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select> -->
                </div>
                <div class="ibox-content">
                    <div class="chart" id="myChart3">
                    </div>
                </div>
            </div>
        </el-col>
    </el-row>
</div>