<div class="api_rate">
  <div class="api_rate_title">
    <p>结算方式:</p>
    <span>T+1</span>
  </div>
  <div class="table_header">商户费率</div>
  <el-table
    :data="tableData.merchantRates"
    style="width: 100%;text-align: center"
    border
  >

    <el-table-column
      prop="t1_capping_fee"
      label="T+1封顶手续费"
    ></el-table-column>
    <el-table-column
      prop="t1_default_rate"
      label="T+1运营费率"
    ></el-table-column>
    <el-table-column prop="t1_rate" label="T+1成本费率"></el-table-column>
  </el-table>
  <div class="table_header">通道费率</div>

  <el-table
    :data="tableData.channelRates"
    style="width: 100%;text-align: center"
    border
  >
    <el-table-column prop="product_name" label="所属产品名称"></el-table-column>
    <el-table-column prop="product_code" label="所属产品编码"></el-table-column>
    <el-table-column prop="channel_name" label="通道名称"></el-table-column>
    <!-- <el-table-column prop="channel_code" label="通道编码"></el-table-column> -->
    <el-table-column
      prop="t1_capping_fee"
      label="T+1封顶手续费"
    ></el-table-column>
    <el-table-column
      prop="t1_default_rate"
      label="T+1运营费率"
    ></el-table-column>
    <el-table-column prop="t1_rate" label="T+1成本费率"></el-table-column>
  </el-table>
</div>
