<div>
    <div class="bor">
        <div class="grid-content bg-purple el-main fl clearfix">
            <label>
                <el-input placeholder="请输入角色名称" v-model="name" clearable></el-input>
            </label>
            <el-button type="primary" class="mySearch_btn fr" @click="handleSearch">查询</el-button>
        </div>
        <div>
            <el-button type="success" class="myAdd_btn fl" @click="addAdminUser">添加角色</el-button>
        </div>
        <!-- 权限管理列表 -->
        <el-table :data="tableData" style="width: 100%;text-align: center" border>
            <el-table-column prop="id" label="#"></el-table-column>
            <el-table-column prop="name" label="角色名称"></el-table-column>
            <!-- <el-table-column prop="permissions" label="权限列表"></el-table-column> -->
            <el-table-column label="状态">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.status" active-color="#67c23a" inactive-color="#dcdfe6" @change="handleStatus(scope.$index, scope.row)"></el-switch>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">

                    <el-button v-if="scope.row.is_manager" size="mini" @click="handleRole(scope.$index, scope.row)">分配权限</el-button>
                    <el-button v-else size="mini" @click="handleRole(scope.$index, scope.row)" disabled>分配权限</el-button>
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button v-if="scope.row.id!==1" size="mini" type="danger" class="myDeleteColor" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    <el-button v-else size="mini" type="danger" disabled @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="+currentPage" background :page-sizes="[20, 50, 100, 200]" :page-size="+pageSize" layout="total, sizes, prev, pager, next, jumper" :total="+total"></el-pagination>
        <!-- 信息编辑 -->
        <el-dialog title="编辑信息" class="text-left addClass" width="490px" :visible.sync="outerVisible">
            <el-form :model="EditForm" :rules="rules" ref="EditForm">
                <el-form-item class="my_form_inp" label="角色名称: " :label-width="formLabelWidth" 
                prop="roleName">
                    <el-input placeholder="请输入角色名称" v-model.trim="EditForm.roleName"  autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="状态: " :label-width="formLabelWidth" 
                prop="status">
                    <el-switch v-model="status" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item class="my_form_inp" label="是否验证: " :label-width="formLabelWidth" 
                prop="is_manager">
                    <el-switch v-model="is_manager" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item class="my_form_inp" label="排序: " :label-width="formLabelWidth" 
                 prop="sort">
                    <el-input placeholder="请输入排序" v-model.trim="EditForm.sort" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button class="mybtAdd" @click="outerVisible = false">取 消</el-button>
                <el-button class="mybtAdd" type="primary" @click="isUpdate('EditForm')">修 改</el-button>
            </div>
        </el-dialog>
        <!-- 添加信息 -->
        <el-dialog title="添加信息" class="text-left addClass" width="490px" :visible.sync="dialogFormVisible">
            <el-form :model="form" :rules="rules" ref="form">
                <el-form-item class="my_form_inp" label="角色名称: " :label-width="formLabelWidth" 
                prop="roleName">
                    <el-input placeholder="请输入角色名称" v-model.trim="form.roleName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="状态: " :label-width="formLabelWidth" 
                prop="status">
                    <el-switch v-model="status" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item class="my_form_inp" label="是否验证: " :label-width="formLabelWidth" 
                prop="is_manager">
                    <el-switch v-model="is_manager" active-color="#13ce66" inactive-color="#ff4949">
                    </el-switch>
                </el-form-item>
                <el-form-item class="my_form_inp" label="排序: " :label-width="formLabelWidth" 
                prop="sort">
                    <el-input placeholder="请输入排序" v-model.trim="form.sort" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button class="mybtAdd" @click="dialogFormVisible = false">取 消</el-button>
                <el-button class="mybtAdd" type="primary" @click="isAddUser('form')">保 存</el-button>
            </div>
        </el-dialog>
    </div>
</div>