<div>
    <div class="bor">
        <div class="grid-content bg-purple el-main fl clearfix account-head">
            <!-- <label>
                <el-select v-model="adminId" placeholder="请搜索管理员类型" filterable>
                   <el-option
                    v-for="item in typeOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  ></el-option>
                </el-select>
            </label>
            <label>
                <el-date-picker v-model="date" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期" default-value="2019-8-01" value-format="yyyy-MM-dd"  ></el-date-picker>
            </label>
            <el-button type="primary" class="mySearch_btn fr" @click="handleSearch">查询</el-button> -->
        </div>
         
        <!-- 权限管理列表 -->
        <el-table :data="tableData" style="width: 100%;text-align: center" border>
            <el-table-column prop="merchant_id" label="" width='70px'></el-table-column>
            <el-table-column prop="created_at" label="登录时间 "></el-table-column>
            <el-table-column prop="comment" label="登录地点"></el-table-column>
            <el-table-column prop="ip" label="登录IP"></el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="+currentPage" background :page-sizes="[20, 50, 100, 200]" :page-size="+pageSize" layout="total, sizes, prev, pager, next, jumper" :total="+total"></el-pagination>
 
</div>  
</div>