<div>
    <div class="bor">
        <div class="grid-content bg-purple el-main fl clearfix account-head">
            <label>
                <el-select v-model="merchant_id" placeholder="请选择商户名称" filterable>
                    <el-option v-for="(item,index) in typeOptions" :key="index" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </label>
            <!-- <label>
                <el-select v-model="status" placeholder="请选择状态">
                    <el-option v-for="(item,index) in statsuOptions" :key="index" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </label> -->
            <!-- <label>
                <el-date-picker v-model="date" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期" default-value="2010-10-01" value-format="yyyy-MM-dd"></el-date-picker>
            </label> -->
            <el-button type="primary" class="mySearch_btn fr" @click="handleSearch">查询</el-button>
        </div>
        <div>
            <el-button type="success" class="myAdd_btn fl" @click="addAdminUser">新增app信息</el-button>
        </div>
        <!-- 权限管理列表 -->
        <el-table :data="tableData" style="width: 100%;text-align: center" border>
            <el-table-column prop="merchant.id" label="商户编号"></el-table-column>
            <el-table-column prop="merchant.username" label="商户名称"></el-table-column>
            <el-table-column prop="secret" label="App秘钥" width='200px'>
                    <template slot-scope="scope">
                            <div class="secret_template">
                                <span>{{ scope.row.secret.length>16?scope.row.secret.substring(0,16)+'...':scope.row.secret }}</span>
                                <img :src='copy_key_img' class="copy-inquire" :data-clipboard-text="scope.row.secret" @click="CopyInquireKey()"/>
                            </div>
                        </template> 
            </el-table-column>
            <el-table-column prop="gateway" label="支付网关地址">
                    <template slot-scope="scope">
                        <el-popover trigger="hover" placement="top">
                            <p v-if="scope.row.gateway.length>0">{{ scope.row.gateway }}</p>
                            <div slot="reference" class="name-wrapper qrcode_url">
                            <el-tag size="medium">{{ scope.row.gateway.length>16?scope.row.gateway.substring(0,16)+'...':scope.row.gateway }}</el-tag>
                            </div>
                        </el-popover>
                    </template> 
            </el-table-column>
            <el-table-column prop="notify" label="异步通知地址">
                    <template slot-scope="scope">
                            <el-popover trigger="hover" placement="top">
                                <p v-if="scope.row.notify.length>0">{{ scope.row.notify }}</p>
                                <div slot="reference" class="name-wrapper qrcode_url">
                                <el-tag size="medium">{{ scope.row.notify.length>16?scope.row.notify.substring(0,16)+'...':scope.row.notify }}</el-tag>
                                </div>
                            </el-popover>
                        </template>
            </el-table-column>
            <el-table-column prop="callback" label="同步通知地址">
                    <template slot-scope="scope">
                            <el-popover trigger="hover" placement="top">
                                <p v-if="scope.row.callback.length>0">{{scope.row.callback}}</p>
                                <div slot="reference" class="name-wrapper qrcode_url">
                                <el-tag size="medium">{{ scope.row.callback.substring(0,16) }}...</el-tag>
                                </div>
                            </el-popover>
                        </template>
            </el-table-column>
            <!-- <el-table-column label="状态" prop=" callback">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.status" active-color="#67c23a" inactive-color="#dcdfe6" @change="handleStatus(scope.$index, scope.row)"></el-switch>
                </template>
            </el-table-column>
            <el-table-column label="用户端" prop="is_display">
                <template slot-scope="scope">
                    <el-switch v-model="scope.row.is_display" active-color="#67c23a" inactive-color="#dcdfe6" @change="handleDisplayStatus(scope.$index, scope.row)"></el-switch>
                </template>
            </el-table-column> -->
            <el-table-column label="操作" width="200px">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    <!-- <el-button size="mini" @click="TransactionCharge(scope.$index, scope.row)">风控</el-button>
                    <el-button size="mini" @click="chanelCharge(scope.$index, scope.row)">通道</el-button>
                    <el-button size="mini" @click="RateCharge(scope.$index, scope.row)">费率</el-button> -->
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="+currentPage" background :page-sizes="[20, 50, 100, 200]" :page-size="+pageSize" layout="total, sizes, prev, pager, next, jumper" :total="+total"></el-pagination>
        <!-- 信息编辑 -->
        <el-dialog title="编辑app信息" class="text-left addClass" width="490px" :visible.sync="outerVisible">
            <el-form ref="Form" :model="Form" :rules="rules">
                <el-form-item class="my_form_inp" label="商品名称: " :label-width="formLabelWidth" prop="merchant_id">
                    <el-select v-model.trim="Form.merchant_id" filterable placeholder="请选择" >
                        <el-option v-for="(item,index) in typeOptions" :key="index" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item class="my_form_inp" label="二维码上传地址:  " :label-width="formLabelWidth" prop="upload_api">
                    <el-input placeholder="请输入二维码上传地址" v-model.trim="Form.upload_api" autocomplete="off"></el-input>
                </el-form-item>
                <!-- <el-form-item class="my_form_inp" label="二维码上传地址: " :label-width="formLabelWidth" prop="upload_api">
                    <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card" :on-success="handlePictureCardPreview" :on-remove="handleRemove">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                </el-form-item> -->
                <el-form-item class="my_form_inp" label="支付网关地址: " :label-width="formLabelWidth" prop="gateway">
                    <el-input placeholder="请输入支付网关地址" v-model.trim="Form.gateway" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="异步通知地址: " :label-width="formLabelWidth" prop="notify">
                    <el-input placeholder="请输入异步通知地址" v-model.trim="Form.notify" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="同步通知地址: " :label-width="formLabelWidth" prop="callback">
                    <el-input placeholder="请输入同步通知地址" v-model.trim="Form.callback" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button class="mybtAdd" @click="outerVisible = false">取 消</el-button>
                <el-button class="mybtAdd" type="primary" @click="isUpdate('Form')">修 改</el-button>
            </div>
        </el-dialog>
        <!-- 添加信息 -->
        <el-dialog title="新增app信息" class="text-left addClass" width="490px" :visible.sync="dialogFormVisible">
            <el-form ref="Form" :model="Form" :rules="rules">
                <el-form-item class="my_form_inp" label="商户名称: " :label-width="formLabelWidth" prop="merchant_id">
                    <el-select v-model.trim="Form.merchant_id" filterable placeholder="请选择">
                        <el-option v-for="(item,index) in typeOptions" :key="index" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <!-- <el-form-item class="my_form_inp" label="二维码上传地址: " :label-width="formLabelWidth" prop="upload_api">
                    <el-upload action="https://jsonplaceholder.typicode.com/posts/" list-type="picture-card" :on-success="handlePictureCardPreview" :on-remove="handleRemove">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                </el-form-item> -->
                <el-form-item class="my_form_inp" label="二维码上传地址:  " :label-width="formLabelWidth" prop="upload_api">
                    <el-input placeholder="请输入二维码上传地址" v-model.trim="Form.upload_api" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="支付网关地址: " :label-width="formLabelWidth" prop="gateway">
                    <el-input placeholder="请输入支付网关地址" v-model.trim="Form.gateway" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="异步通知地址: " :label-width="formLabelWidth" prop="notify">
                    <el-input placeholder="请输入异步通知地址" v-model.trim="Form.notify" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item class="my_form_inp" label="同步通知地址: " :label-width="formLabelWidth" prop="callback">
                    <el-input placeholder="请输入同步通知地址" v-model.trim="Form.callback" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button class="mybtAdd" @click="dialogFormVisible = false">取 消</el-button>
                <el-button class="mybtAdd" type="primary" @click="submitForm('Form')">保 存</el-button>
            </div>
        </el-dialog>
    </div>
</div>