.bor {
    .header {
      font-size: 18px;
      color: #666;
      text-align: left;
      margin-bottom: 34px;
    }
    .bor_p {
        display: flex;
        margin-bottom: 40px;
        width: 800px;
        color:#666;
        span {
          height: 28px;
          line-height: 28px;
          border-radius: 4px;
          font-size: 16px;
        }
    
        .title {
          margin-right: 15px;
        }
    
        .box {
<<<<<<< HEAD
          display: block;
          width: 60px;
          color: #fff;
    
=======
          min-width: 60px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    input{
      min-width: 50px;
      max-width: 78px;
      background: initial;
    color: inherit;
    text-align: center;
    overflow-x: hidden;

    }
>>>>>>> 01d537a8f4ed5533d17f7358057ce7a3240c0d4d
        }
    
        .bor_text {
          width: 100%;
          display: flex;
        }
    
        .success {
          .box {
            background-color: #09c47f;
          }
        }
    
        .warning {
          .box {
            background-color: #fd8402;
          }
        }
    
        .error {
          .box {
            background-color: #fe0130;
          }
        }
        .bor_text_one{
            .title{
                display: block;
                width: 140px;
            }
        }
        .bor_text_tow{
            .title{
                display: block;
                width: 102px;
            }
        }
        .bor_text_three{
            .title{
                display: block;
                width: 102px;
            }
        }
        .bor_text_four{
            .title{
                display: block;
                width: 102px;
            }
        }
      }
}