<div>
  <div class="bor">
    <div class="grid-content bg-purple el-main fl clearfix account-head">
      <label>
        <el-select v-model="name" placeholder="请搜索用户名" filterable>
          <el-option
            v-for="(item,index) in typeOptions"
            :key="index"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
        <!-- <el-input placeholder="请输入用户名" v-model="name" clearable></el-input> -->
      </label>
      <label>
        <el-select v-model="status" placeholder="请选择状态" filterable>
          <el-option
            v-for="(item,index) in statsuOptions"
            :key="index"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </label>
      <label>
        <el-date-picker
          v-model="date"
          type="daterange"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          value-format="yyyy-MM-dd"
        ></el-date-picker>
      </label>
      <el-button type="primary" class="mySearch_btn fr" @click="handleSearch"
        >查询</el-button
      >
    </div>
    <!-- 商户列表 -->
    <el-table
      :data="tableData"
      style="width: 100%;text-align: center"
      border
      fit
    >
      <el-table-column prop="id" label="商户号"></el-table-column>
      <el-table-column prop="username" label="用户名"></el-table-column>
      <el-table-column prop="realname" label="姓名"></el-table-column>
      <el-table-column prop="mobile" label="手机号"></el-table-column>
      <el-table-column label="状态" prop="status">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            active-color="#67c23a"
            inactive-color="#dcdfe6"
            @change="handleStatus(scope.$index, scope.row)"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="fund.balance" label="可用余额"></el-table-column>
      <el-table-column
        prop="fund.balance_disabled"
        label="冻结余额"
      ></el-table-column>
      <el-table-column
        prop="updated_at"
        label="最后登录时间"
        width="200px"
      ></el-table-column>
      <el-table-column label="操作" width="618px">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="inquireKey({type:'open',index:scope.$index,row:scope.row})"
            >密钥</el-button
          >
          <el-button
            size="mini"
            @click="secureKey({type:'open',index:scope.$index,row:scope.row})"
            >安全码</el-button
          >
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button
          >
          <el-button
            size="mini"
            @click="merchantCharge(scope.$index, scope.row)"
            >加款/扣款</el-button
          >
          <el-button
            size="mini"
            @click="handleWithdraw(scope.$index, scope.row)"
            >提现</el-button
          >
          <el-button
            size="mini"
            @click="TransactionCharge(scope.$index, scope.row)"
            >风控</el-button
          >
          <el-button size="mini" @click="chanelCharge(scope.$index, scope.row)"
            >分配产品</el-button
          >
          <el-button size="mini" @click="RateCharge(scope.$index, scope.row)"
            >费率</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="+currentPage"
      background
      :page-sizes="[20, 50, 100, 200]"
      :page-size="+pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="+total"
    ></el-pagination>
    <!-- 信息编辑 -->
    <el-dialog
      title="编辑信息"
      class="text-left addClass editor_merchant"
      :visible.sync="outerVisible"

    >
      <el-form ref="editForm" :model="editForm" :rules="rules">
        <el-form-item
          class="my_form_inp"
          label="用户名: "
          :label-width="formLabelWidth"
          prop="username"
        >
          <el-input
            placeholder="请输入用户名"
            v-model.trim="editForm.username"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="姓名 : "
          :label-width="formLabelWidth"
          prop="realname"
        >
          <el-input
            placeholder="请输入姓名"
            v-model.trim="editForm.realname"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="性别: "
          :label-width="formLabelWidth"
          prop="sex"
        >
          <el-select v-model.trim="sex" filterable placeholder="请选择">
            <el-option
              v-for="(item,index) in sexOptions"
              :key="index"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="身份证: "
          :label-width="formLabelWidth"
          prop="idcard"
        >
          <el-input
            placeholder="请输入身份证"
            v-model.trim="editForm.idcard"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="生日: "
          :label-width="formLabelWidth"
          prop="birthday"
        >
          <el-date-picker
            v-model="editForm.birthday"
            type="date"
            placeholder="选择日期"
            format="yyyy-MM-dd"
            value-format="yyyy-MM-dd"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="手机: "
          :label-width="formLabelWidth"
          prop="mobile"
        >
          <el-input
            placeholder="请输入手机号码"
            v-model.trim="editForm.mobile"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="QQ: "
          :label-width="formLabelWidth"
          prop="qq"
        >
          <el-input
            placeholder="请输入QQ号码"
            v-model.trim="editForm.qq"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="邮箱: "
          :label-width="formLabelWidth"
          prop="email"
        >
          <el-input
            placeholder="请输入邮箱"
            v-model.trim="editForm.email"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="商户类型: "
          :label-width="formLabelWidth"
          prop="sort"
        >
          <el-select
            v-model.trim="editForm.type"
            filterable
            placeholder="请选择"
          >
            <el-option
              v-for="(item,index) in options"
              :key="index"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="地址: "
          :label-width="formLabelWidth"
          prop="address"
        >
          <el-input
            placeholder="请输入地址"
            v-model.trim="editForm.address"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="登录密码: "
          :label-width="formLabelWidth"
          prop="password"
        >
          <el-input
            type="password"
            placeholder="请输入登录密码"
            v-model.trim="editForm.password"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="支付密码: "
          :label-width="formLabelWidth"
          prop="pay_password"
        >
          <el-input
            type="password"
            placeholder="请输入支付密码"
            v-model.trim="editForm.pay_password"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <!-- <el-form-item
          class="my_form_inp"
          label="授权访问域名: "
          :label-width="formLabelWidth"
          prop="domain"
        >
          <el-input
            placeholder="请输入授权访问域名"
            v-model.trim="editForm.domain"
            autocomplete="off"
          ></el-input>
        </el-form-item> -->
        <!-- <el-form-item
          class="my_form_inp"
          label="API秘钥: "
          :label-width="formLabelWidth"
          prop="apikey"
        >
          <el-input
            placeholder="请输入API秘钥"
            v-model.trim="editForm.apikey"
            autocomplete="off"
          ></el-input>
        </el-form-item> -->
        <el-form-item
          class="my_form_inp"
          label="风控规则: "
          :label-width="formLabelWidth"
          prop="custom_risk"
        >
          <el-radio v-model="editForm.custom_risk" label="0">系统默认</el-radio>
          <el-radio v-model="editForm.custom_risk" label="1">自定义</el-radio>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="提现规则: "
          :label-width="formLabelWidth"
          prop="custom_withdraw"
        >
          <el-radio v-model="editForm.custom_withdraw" label="0"
            >系统默认</el-radio
          >
          <el-radio v-model="editForm.custom_withdraw" label="1"
            >自定义</el-radio
          >
        </el-form-item>
        <el-form-item
          class="my_form_inp DNS_textarea"
          label="授权访问域名: "
          :label-width="formLabelWidth"
          prop="domain"
        >
          <el-input
            type="textarea"
            placeholder="请输入授权访问域名"
            v-model.trim="editForm.domain"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="outerVisible = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="isUpdate('editForm')"
          >修 改</el-button
        >
      </div>
    </el-dialog>
    <!-- 添加商户商户加款，扣款 -->
    <el-dialog
      title="商户加款/扣款"
      class="text-left addClass"
      width="490px"
      :visible.sync="  dialogFormCharge"
    >
      <el-form ref="chargeForm" :model="chargeForm" :rules="chargeRules">
        <el-form-item
          class="my_form_inp"
          label="入款类型: "
          :label-width="formLabelWidth"
          prop="type"
        >
          <el-select
            v-model.trim="chargeForm.type"
            filterable
            placeholder="请选择"
            @change="handleType"
          >
            <el-option
              v-for="(item,index) in payOptions"
              :key="index"
              :label="item.label"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="资金变动: "
          :label-width="formLabelWidth"
          prop="pay_type_id"
        >
          <el-select
            v-model.trim="chargeForm.pay_type_id"
            filterable
            placeholder="请选择"
          >
            <el-option
              v-for="(item,index) in changeOptions"
              :key="index"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="金额: "
          :label-width="formLabelWidth"
          prop="change_money"
        >
          <el-input
            placeholder="请输入变动金额"
            v-model.trim="chargeForm.change_money"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item
          class="my_form_inp"
          label="描述: "
          :label-width="formLabelWidth"
          prop="content"
        >
          <el-input
            type="textarea"
            placeholder="请输入内容"
            v-model.trim="chargeForm.content"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogFormCharge = false"
          >取 消</el-button
        >
        <el-button
          class="mybtAdd"
          type="primary"
          @click="submitChargeForm('chargeForm')"
          >保 存</el-button
        >
      </div>
    </el-dialog>
    <!-- 添加风控-->
    <el-dialog
      title="风控设置"
      class="text-left addClass"
      width="32%"
      :visible.sync="  dialogFormTransaction"
    >
      <el-row :gutter="20" style="margin-bottom: 20px;margin-left:10%">
        <el-col :span="24">
          <div class="grid-content bg-purple">
            <el-radio
              v-model="custom_risk"
              label="0"
              @change="handleTransactionRadio"
              >系统模式</el-radio
            >
            <el-radio
              v-model="custom_risk"
              label="1"
              @change="handleTransactionRadio"
              >自定义模式</el-radio
            >
          </div>
        </el-col>
      </el-row>
      <div class="tip_box" v-if="TransactionIsDefault">
        <el-form ref="defaultTransactionForm" :model="defaultTransactionForm">
          <!-- <el-form-item class="my_form_inp" label="当天交易金额: " :label-width="formLabelWidth" prop="paying_money">
                    <el-input placeholder="请输入当天交易金额" v-model.trim="TransactionForm.paying_money" autocomplete="off" :disabled="riskDisabled"></el-input>
                </el-form-item> -->
          <el-form-item
            class="my_form_inp"
            label="当日总金额: "
            :label-width="formLabelWidth"
            prop="all_money"
          >
            <el-input
              placeholder="请输入当日总金额"
              v-model.trim="defaultTransactionForm.all_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单笔最小金额: "
            :label-width="formLabelWidth"
            prop="min_money"
          >
            <el-input
              placeholder="请输入单笔最小金额"
              v-model.trim="defaultTransactionForm.min_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单笔最大金额: "
            :label-width="formLabelWidth"
            prop="max_money"
          >
            <el-input
              placeholder="请输入单笔最大金额"
              v-model.trim="defaultTransactionForm.max_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="交易时间: "
            :label-width="formLabelWidth"
            prop="time"
          >
            <el-row :gutter="20">
              <el-col :span="11">
                <div class="grid-content bg-purple p0">
                  <el-time-select
                    placeholder="起始时间"
                    v-model="defaultTransactionForm.start_time"
                    :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00'
                        }"
                    :disabled="riskDisabled"
                  >
                  </el-time-select>
                </div>
              </el-col>
              <el-col :span="11">
                <div class="grid-content bg-purple">
                  <el-time-select
                    placeholder="结束时间"
                    v-model="defaultTransactionForm.end_time"
                    :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00',
                          minTime: TransactionForm.startTime
                        }"
                    :disabled="riskDisabled"
                  >
                  </el-time-select>
                </div>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单位时间限制: "
            :label-width="formLabelWidth"
            prop="unit_interval"
          >
            <el-input
              placeholder="请输入单位时间限制"
              v-model.trim="defaultTransactionForm.unit_interval"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="限制时间单位: "
            :label-width="formLabelWidth"
            prop="time_unit"
          >
            <el-select
              v-model="defaultTransactionForm.time_unit"
              placeholder="请选择时间单位"
              :disabled="riskDisabled"
            >
              <el-option
                v-for="(item,index) in unitOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单位事件次数: "
            :label-width="formLabelWidth"
            prop="unit_number"
          >
            <el-input
              placeholder="请输入单位事件次数"
              v-model.trim="defaultTransactionForm.unit_number"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="状态: "
            :label-width="formLabelWidth"
            prop="status"
          >
            <el-switch
              v-model="defaultTransactionForm.status"
              active-color="#13ce66"
              inactive-color="#ff4949"
              :disabled="riskDisabled"
            >
            </el-switch>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button class="mybtAdd" @click="dialogFormTransaction = false"
            >取 消</el-button
          >
          <!--  <el-button class="mybtAdd" type="primary" @click="submitTransactionForm('TransactionForm')" :disabled="riskDisabled">保 存</el-button> -->
        </div>
      </div>
      <div class="tip_box" v-else>
        <el-form
          ref="TransactionForm"
          :model="TransactionForm"
          :rules="TransactionRules"
        >
          <el-form-item
            class="my_form_inp"
            label="当日总金额: "
            :label-width="formLabelWidth"
            prop="all_money"
          >
            <el-input
              placeholder="请输入当日总金额"
              v-model.trim="TransactionForm.all_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单笔最小金额: "
            :label-width="formLabelWidth"
            prop="min_money"
          >
            <el-input
              placeholder="请输入单笔最小金额"
              v-model.trim="TransactionForm.min_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单笔最大金额: "
            :label-width="formLabelWidth"
            prop="max_money"
          >
            <el-input
              placeholder="请输入单笔最大金额"
              v-model.trim="TransactionForm.max_money"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="交易时间: "
            :label-width="formLabelWidth"
            prop=""
          >
            <el-row :gutter="20">
              <el-col :span="11">
                <div class="grid-content bg-purple p0">
                  <el-time-select
                    placeholder="起始时间"
                    v-model="TransactionForm.start_time"
                    :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00'
                        }"
                    :disabled="riskDisabled"
                  >
                  </el-time-select>
                </div>
              </el-col>
              <el-col :span="11">
                <div class="grid-content bg-purple">
                  <el-time-select
                    placeholder="结束时间"
                    v-model="TransactionForm.end_time"
                    :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00',
                          minTime:TransactionForm.start_time
                        }"
                    :disabled="riskDisabled"
                  >
                  </el-time-select>
                </div>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单位时间限制: "
            :label-width="formLabelWidth"
            prop="unit_interval"
          >
            <el-input
              placeholder="请输入单位时间限制"
              v-model.trim="TransactionForm.unit_interval"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="限制时间单位: "
            :label-width="formLabelWidth"
            prop="time_unit"
          >
            <el-select
              v-model="TransactionForm.time_unit"
              placeholder="请选择时间单位"
              :disabled="riskDisabled"
            >
              <el-option
                v-for="(item,index) in unitOptions"
                :key="index"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="单位事件次数: "
            :label-width="formLabelWidth"
            prop="unit_number"
          >
            <el-input
              placeholder="请输入单位事件次数"
              v-model.trim="TransactionForm.unit_number"
              autocomplete="off"
              :disabled="riskDisabled"
            ></el-input>
          </el-form-item>
          <el-form-item
            class="my_form_inp"
            label="状态: "
            :label-width="formLabelWidth"
            prop="status"
          >
            <el-switch
              v-model="TransactionForm.status"
              active-color="#13ce66"
              inactive-color="#ff4949"
              :disabled="riskDisabled"
            >
            </el-switch>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button class="mybtAdd" @click="dialogFormTransaction = false"
            >取 消</el-button
          >
          <el-button
            class="mybtAdd"
            type="primary"
            @click="submitTransactionForm('TransactionForm')"
            :disabled="riskDisabled"
            >保 存</el-button
          >
        </div>
      </div>
    </el-dialog>
    <!-- 编辑通道-->
    <el-dialog
      title="分配产品设置"
      class="text-left addClass"
      width="60%"
      :visible.sync="  dialogFormChanel"
    >
      <el-form>
        <el-table
          :data="chanelTable"
          ref="multipleTable"
          style="width: 100%;text-align: center"
          tooltip-effect="dark"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55"> </el-table-column>
          <el-table-column prop="name" label="通道中文名称"></el-table-column>
          <el-table-column prop="code" label="通道英文编码"></el-table-column>
        </el-table>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogFormChanel = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="submitChanelForm"
          >保 存</el-button
        >
      </div>
    </el-dialog>
    <!-- 密钥 -->
    <el-dialog
      title="重置API密钥"
      class="text-left addClass"
      width="40%"
      :visible.sync="dialogInquireKey"
    >
      <el-alert
        title="重置密钥后请及时通知商户"
        class="secure_alert"
        type="warning"
        :closable="false"
      ></el-alert>
      <table class="table inquire_table">
        <tbody>
          <tr>
            <td><div>商户号</div></td>
            <td>{{ nowInquireKey.id }}</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div>APISecret</div>
            </td>
            <td style="width:30%">
              <div class="inquireSecretKey">{{ nowInquireKey.apikey }}</div>
            </td>
            <td>
              <el-button
                class="copy-inquire"
                size="mini"
                @click="inquireKey({type:'copy'})"
                :data-clipboard-text="nowInquireKey.apikey"
                >复制</el-button
              >
              <el-button size="mini" @click="inquireKey({type:'reset'})"
                >重置</el-button
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogInquireKey = false"
          >取 消</el-button
        >
      </div>
    </el-dialog>
    <!-- 安全码 -->
    <el-dialog
      title="重置安全码"
      class="text-left addClass"
      width="40%"
      :visible.sync="dialogSecureKey"
    >
      <el-alert
        title="密码:默认密码为: qwe123; 安全码:修改后默认安全码为: 000000"
        class="secure_alert"
        type="warning"
        :closable="false"
      ></el-alert>
      <table class="table inquire_table">
        <tbody>
          <tr>
            <td style="width:30%">
              <div>密码</div>
            </td>
            <td style="width:40%">
              <el-input
                v-model="nowSecureKey.password"
                placeholder="为空时使用默认密码"
              ></el-input>
            </td>
            <td style="width:30%">
              <el-button size="mini" @click="secureKey({type:'ChangePassword',value:nowSecureKey.password})"
                >修改</el-button
              >
            </td>
          </tr>
          <tr>
            <td>
              <div>安全码</div>
            </td>
            <td>
                <el-input
                v-model="nowSecureKey.securityCode"
                placeholder="为空时使用默认安全码"
                ></el-input>
            </td>
            <td>
              <el-button size="mini" @click="secureKey({type:'ChangeSecurityCode',value:nowSecureKey.securityCode})"
                >修改</el-button
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogSecureKey = false"
          >取 消</el-button
        >
      </div>
    </el-dialog>
    <!-- 编辑费率-->
    <el-dialog
      title="编辑T1费率"
      class="text-left addClass"
      width="50%"
      :visible.sync=" dialogFormRate"
    >
      <el-form ref="RateForm" :model="RateForm">
        <el-alert
          title="单位：‰，例如：千分之三填 0.003"
          type="warning"
          :closable="false"
        >
        </el-alert>
        <table class="table">
          <thead>
            <th>银行费率</th>
            <th>封顶手续费</th>
            <th>T+1封顶手续费</th>
            <th>T+1运营费率</th>
            <th>T+1成本费率</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <el-input
                  v-model.trim="RateForm.rate"
                  autocomplete="off"
                ></el-input>
              </td>
              <td>
                <el-input
                  v-model.trim="RateForm.capping_fee"
                  autocomplete="off"
                ></el-input>
              </td>
              <td>
                <el-input
                  v-model.trim="RateForm.t1_capping_fee"
                  autocomplete="off"
                >
                </el-input>
              </td>
              <td>
                <el-input
                  v-model.trim="RateForm.t1_default_rate"
                  autocomplete="off"
                >
                </el-input>
              </td>
              <td>
                <el-input v-model.trim="RateForm.t1_rate" autocomplete="off">
                </el-input>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <el-table :data="tableRateData" style="width: 100%;text-align: center" border>
                    <el-table-column prop="product.name" label="产品名称"></el-table-column>
                    <el-table-column label="银行费率" prop="rate">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.rate"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="封顶手续费" prop="capping_fee">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.capping_fee"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="T+1封顶手续费" prop="t1_capping_fee">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.t1_capping_fee"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="T+1运营费率" prop="t1_default_rate">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.t1_default_rate"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="T+1成本费率" prop="t1_rate">
                        <template slot-scope="scope">
                            <el-input v-model="scope.row.t1_rate"></el-input>
                        </template>
                    </el-table-column>
                </el-table> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button class="mybtAdd" @click="dialogFormRate = false"
          >取 消</el-button
        >
        <el-button class="mybtAdd" type="primary" @click="submitRateForm"
          >保 存</el-button
        >
      </div>
    </el-dialog>
    <!-- 提现设置-->
    <el-dialog
      title="提现设置"
      class="text-left addClass"
      width="65%"
      :visible.sync="  WithdrawVisible"
    >
      <el-row :gutter="20" style="margin-bottom: 20px;margin-left:10%">
        <el-col :span="24">
          <div class="grid-content bg-purple">
            <el-radio
              v-model="custom_withdraw"
              label="0"
              @change="handleWithdrawRadio"
              >系统模式</el-radio
            >
            <el-radio
              v-model="custom_withdraw"
              label="1"
              @change="handleWithdrawRadio"
              >自定义模式</el-radio
            >
          </div>
        </el-col>
      </el-row>
      <div class="tip_box" v-if="WithdrawIsDefault">
        <el-form
          ref="defaultWithdrawForm"
          :model="defaultWithdrawForm"
          :rules="TransactionRules"
        >
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔提款比例: "
                  :label-width="formLabelWidth1"
                  prop="fee_proportion"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.fee_proportion"
                    controls-position="right"
                    :min="0"
                    :step="0.1"
                    :max="1"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔提款手续费: "
                  :label-width="formLabelWidth1"
                  prop="fee"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.fee"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="当日最大次数: "
                  :label-width="formLabelWidth1"
                  prop="day_max_count"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.day_max_count"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="当日最大金额: "
                  :label-width="formLabelWidth1"
                  prop="day_max_money"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.day_max_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔最小金额: "
                  :label-width="formLabelWidth1"
                  prop="fee_proportion"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.unit_min_money"
                    controls-position="right"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔最大金额: "
                  :label-width="formLabelWidth1"
                  prop="fee"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.unit_max_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单人单卡单日最高提现额: "
                  :label-width="formLabelWidth1"
                  prop="day_card_money"
                >
                  <el-input-number
                    v-model="defaultWithdrawForm.day_card_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="节假日排除日期: "
                  :label-width="formLabelWidth1"
                  prop="day_expect"
                >
                  <el-date-picker
                    v-model="defaultWithdrawForm.day_expect"
                    type="daterange"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy-MM-dd"
                    :disabled="WithdrawDisabled"
                  >
                  </el-date-picker>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="扣除手续费方式: "
                  :label-width="formLabelWidth1"
                  prop="charge_type"
                >
                  <el-select
                    v-model="defaultWithdrawForm.charge_type"
                    placeholder="请选择扣除手续费方式"
                    :disabled="WithdrawDisabled"
                  >
                    <el-option
                      v-for="(item,index) in charge_typeOptions"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款手续费类型: "
                  :label-width="formLabelWidth1"
                  prop="fee_type"
                >
                  <el-select
                    v-model="defaultWithdrawForm.fee_type"
                    placeholder="请选择提款手续费类型"
                    :disabled="WithdrawDisabled"
                  >
                    <el-option
                      v-for="(item,index) in fee_typeOptions"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款时间: "
                  :label-width="formLabelWidth1"
                  prop="start_time"
                >
                  <el-col :span="12">
                    <el-time-select
                      style="margin-left:-7%;"
                      disabled
                      placeholder="起始时间"
                      v-model="defaultWithdrawForm.allow_start_time"
                      :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00'
                        }"
                    >
                    </el-time-select>
                  </el-col>
                  <el-col :span="12">
                    <el-time-select
                      disabled
                      placeholder="结束时间"
                      v-model="defaultWithdrawForm.allow_end_time"
                      :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00',
                          minTime: WithdrawForm.allow_start_time
                        }"
                    >
                    </el-time-select>
                  </el-col>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款状态: "
                  :label-width="formLabelWidth1"
                  prop="status"
                >
                  <el-switch
                    v-model="defaultWithdrawForm.status"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    :disabled="WithdrawDisabled"
                  >
                  </el-switch>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button class="mybtAdd" @click="WithdrawVisible = false"
            >取 消</el-button
          >
          <!-- <el-button class="mybtAdd" type="primary" @click="submitdefaultWithdrawForm('defaultWithdrawForm')">保 存</el-button> -->
        </div>
      </div>
      <div class="tip_box" v-else>
        <el-form
          ref="WithdrawForm"
          :model="WithdrawForm"
          :rules="TransactionRules"
        >
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔提款比例: "
                  :label-width="formLabelWidth1"
                  prop="fee_proportion"
                >
                  <el-input-number
                    v-model="WithdrawForm.fee_proportion"
                    controls-position="right"
                    :min="0"
                    :step="0.1"
                    :max="1"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔提款手续费: "
                  :label-width="formLabelWidth1"
                  prop="fee"
                >
                  <el-input-number
                    v-model="WithdrawForm.fee"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="当日最大次数: "
                  :label-width="formLabelWidth1"
                  prop="day_max_count"
                >
                  <el-input-number
                    v-model="WithdrawForm.day_max_count"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="当日最大金额: "
                  :label-width="formLabelWidth1"
                  prop="day_max_money"
                >
                  <el-input-number
                    v-model="WithdrawForm.day_max_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔最小金额: "
                  :label-width="formLabelWidth1"
                  prop="fee_proportion"
                >
                  <el-input-number
                    v-model="WithdrawForm.unit_min_money"
                    controls-position="right"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单笔最大金额: "
                  :label-width="formLabelWidth1"
                  prop="fee"
                >
                  <el-input-number
                    v-model="WithdrawForm.unit_max_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="单人单卡单日最高提现额: "
                  :label-width="formLabelWidth1"
                  prop="day_card_money"
                >
                  <el-input-number
                    v-model="WithdrawForm.day_card_money"
                    controls-position="right"
                    :min="0"
                    :disabled="WithdrawDisabled"
                  ></el-input-number>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="节假日排除日期: "
                  :label-width="formLabelWidth1"
                  prop="day_expect"
                >
                  <el-date-picker
                    v-model="WithdrawForm.day_expect"
                    type="daterange"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    value-format="yyyy-MM-dd"
                    :disabled="WithdrawDisabled"
                  >
                  </el-date-picker>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="扣除手续费方式: "
                  :label-width="formLabelWidth1"
                  prop="charge_type"
                >
                  <el-select
                    v-model="WithdrawForm.charge_type"
                    placeholder="请选择扣除手续费方式"
                    :disabled="WithdrawDisabled"
                  >
                    <el-option
                      v-for="(item,index) in charge_typeOptions"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款手续费类型: "
                  :label-width="formLabelWidth1"
                  prop="fee_type"
                >
                  <el-select
                    v-model="WithdrawForm.fee_type"
                    placeholder="请选择提款手续费类型"
                    :disabled="WithdrawDisabled"
                  >
                    <el-option
                      v-for="(item,index) in fee_typeOptions"
                      :key="index"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款时间: "
                  :label-width="formLabelWidth1"
                  prop="start_time"
                >
                  <el-col :span="12">
                    <el-time-select
                      style="margin-left:-7%;"
                      placeholder="起始时间"
                      v-model="WithdrawForm.allow_start_time"
                      :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00'
                        }"
                    >
                    </el-time-select>
                  </el-col>
                  <el-col :span="12">
                    <el-time-select
                      placeholder="结束时间"
                      v-model="WithdrawForm.allow_end_time"
                      :picker-options="{
                          start: '00:00',
                          step: '01:00',
                          end: '23:00',
                          minTime: WithdrawForm.allow_start_time
                        }"
                    >
                    </el-time-select>
                  </el-col>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="grid-content bg-purple">
                <el-form-item
                  class="my_form_inp"
                  label="提款状态: "
                  :label-width="formLabelWidth1"
                  prop="status"
                >
                  <el-switch
                    v-model="WithdrawForm.status"
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    :disabled="WithdrawDisabled"
                  >
                  </el-switch>
                </el-form-item>
              </div>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button class="mybtAdd" @click="WithdrawVisible = false"
            >取 消</el-button
          >
          <el-button
            class="mybtAdd"
            type="primary"
            @click="submitWithdrawForm('WithdrawForm')"
            :disabled="WithdrawDisabled"
            >保 存</el-button
          >
        </div>
      </div>
    </el-dialog>
  </div>
</div>
