<div>
	<div   v-loading="isLoading">
    <div class="bor" >
        <!-- <el-tree
		  :data="data"
		  show-checkbox
		  node-key="id"
		  :default-expanded-keys="[2, 3]"
		  :default-checked-keys="[5]"
		  :props="defaultProps">
		</el-tree> -->
		<el-tree
		  :data="data"
		  :show-checkbox="true"
		  default-expand-all
		  :check-strictly="RoleStatus"
		  node-key="id"
		  :default-checked-keys="checkedArr"
		  ref="tree"
		  highlight-current
		  :props="defaultProps"
		  @node-click="handelStatus"
		  >
		</el-tree>
		<div class="buttons" style="text-align: left;margin-top:20px">
		  <el-button @click="getCheckedKeys" type="primary">立即提交</el-button>
		</div>
    </div>
   </div>
  </div>