.login {
  width: 100vw;
  height: 100vh;
  background-image: url("~@/assets/images/login/bj.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_div {
    width: 40%;
    height: 40%;
    padding-top: 6%;
    padding-left: 3%;
    background-color: #fff;
    border-radius: 14px;
    display: flex;
    cursor: pointer;
    .login_img {
      width: 54%;
      height: 70%;
      background-image: url("~@/assets/images/login/login_logo.png");
      background-size: 100% 100%;
    }

    .login_form {
      p {
        color: #1e9fff;
        font-weight: bold;
        font-family: "MicrosoftYaHei-Bold";
        font-size: 24px;
        text-align: center;
        margin-bottom: 28px;
      }

      .login_ul {
        width: 100%;

        li {
          list-style-type: none;
          margin-bottom: 8px;
          border-bottom: 1px solid rgba(222, 222, 222, 1);
          padding-bottom: 8px;
          display: flex;
          line-height: 32px;

          input {
            border: none;
            outline: none;
            height: 32px;
          }

          span {
            display: block;
            width: 19px;
            height: 19px;
            margin-top: 6px;
            background-size: 100% 100%;
            margin-right: 8px;
          }

          .account {
            background-image: url("~@/assets/images/login/account.png");
          }

          .password {
            background-image: url("~@/assets/images/login/password.png");
          }

          .auth_code {
            background-image: url("~@/assets/images/login/auth_code.png");
          }
        }
      }

      .login_save {
        margin-bottom: 10px;
        margin-top: 2px;
        text-align: right;
      }

      .login_submit {
        height: 38px;
        line-height: 38px;
        width: 200px;
        text-align: center;
        color: #fff;
        background: rgba(30, 159, 255, 1);
        border-radius: 14px;
      }
    }
  }
}

$placeholder-color: #999999;

input:-ms-input-placeholder {
  color: $placeholder-color;
  font-size: 14px;
}

input::-webkit-input-placeholder {
  color: $placeholder-color;
  font-size: 14px;
}

input::-moz-placeholder {
  color: $placeholder-color;
  font-size: 14px;
}