<div class="login-wrap" v-loading="isLoading">
  <div class="login">
    <div class="login_div">
      <div class="login_img"></div>
      <div class="login_form">
        <p>用户登录</p>
        <!-- <el-form :model="numberValidateForm" ref="numberValidateForm" label-width="100px" class="demo-ruleForm">
		    <el-form-item
		      label=""
		      prop="username"
		      :rules="rules.username"
		    >
		      <el-input type="username" v-model="numberValidateForm.username" auto-complete="off"></el-input>
		    </el-form-item>
			<el-form-item
			  label=""
			  prop="password"
			  :rules="rules.password"
			>
			  <el-input type="password" v-model="numberValidateForm.password" auto-complete="off"></el-input>
			</el-form-item>


		  </el-form> -->

        <ul class="login_ul">
          <el-form
            :model="numberValidateForm"
            ref="numberValidateForm"
            label-width="100px"
            class="demo-ruleForm"
          >
            <li>
              <span class="account"></span>
              <el-form-item label="" prop="username" :rules="rules.username">
                <el-input
                  type="username"
                  v-model="numberValidateForm.username"
                  auto-complete="off"
                  placeholder="请输入登录用户名"
                ></el-input>
              </el-form-item>
            </li>
            <li>
              <span class="password"></span>
              <el-form-item label="" prop="password" :rules="rules.password">
                <el-input
                  type="password"
                  v-model="numberValidateForm.password"
                  auto-complete="off"
                  placeholder="请输入登录密码"
                ></el-input>
              </el-form-item>
            </li>
          </el-form>
        </ul>
        <div class="login_save" onselectstart="return false">
          <!-- <div @click='changeRedio'><div><img :src="radio=='0'?radio_off:radio_on" alt=""/></div>记住密码</div> -->
        </div>
        <!-- 记住密码  需填充账号密码验证码 -->
        <div class="login_submit" @click="login">立即登录</div>
        <div @click="register" class="login_url">没有账号?去注册</div>
      </div>
    </div>
  </div>
</div>
