 .account-head .el-select{
  width: auto;
  margin-left: 0px;
  margin-right: 10px;
 }
 .el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%;
 }
 .el-radio {
    vertical-align: text-bottom;
    float: none!important;
}
.tip_row{
	color:#999;
	text-align: left;
	margin-bottom: 10px;
}
 .table{
	border:1px solid #EBEEF5;
	width: 100%;
	margin-bottom: 20px;
	line-height: 20px
}
.table thead th{
	border-bottom: 1px solid #EBEEF5;
	border-right:1px solid #EBEEF5;
	height: 40px;
	line-height: 40px;
	width: 20%;
	text-align: center;
	color: #909399;
}
.table tr td{
	border-bottom: 1px solid #EBEEF5;
	border-right:1px solid #EBEEF5;
	height: 40px;
	line-height: 20px;
	width: 20%;
	text-align: center;
	padding-left: 20px;
	padding:20px;
}
.table tr:hover{
   background-color: #F5F7FA;
}
.table tr td:last-child{
	border-right:none;
}