.analysis{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: flex-start;
    .analysis_classify{
        display: flex;
        width: 31%;
        flex-wrap: wrap;
        background:rgba(255,255,255,1);
        box-shadow:0px 0px 17px 1px rgba(219,219,219,0.4);
        border-radius:6px;
        border-top: 6px solid #1E9FFF;
        padding-left: 18px;
        font-family:Microsoft YaHei;
        margin-bottom: 18px;
        margin-right: 1.2%;
        p{
            margin: 0;
            width: 100%;
            height: 51px;
            line-height: 51px;
            color: #666;
            text-align: left;
        }
        .analysis_text{
            width: 100%;
            padding-top: 26px;
            padding-bottom: 26px;
            border-top: 1px solid rgba(242,242,242,1);
            border-bottom: 1px solid rgba(242,242,242,1);
            p{
                height: 30px;
        line-height: 30px;
        display: flex;
        span{
            display: block;
            width: 80px;
        }
            }
        }
        .analysis_footer{
            padding-top: 5px;
                padding-bottom: 5px;
            p{
                width: 100%;
                height: 30px;
                    line-height: 30px;
                display: flex;
                span{
                    display: block;
                    margin-right: 40px;
                    
                } 
            }
          
        }
    }
}
