<div>
  <div class="bor">
    <div class="grid-content bg-purple el_main fl clearfix account-head">
      <label class="inp">
        <el-input
          placeholder="请输入订单号"
          v-model="out_trade_id"
          clearable
        ></el-input>
      </label>
      <!-- <label class="inp">
        <el-input
          placeholder="请输入订单描述"
          v-model="out_trade_id"
          clearable
        ></el-input>
      </label> -->

      <label class="inp">
        <div class="block">
          <el-date-picker
            v-model="timeValue"
            type="daterange"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd"
          ></el-date-picker>
        </div>
      </label>
      <!-- 下拉选择 -->
      <label class="inp">
        <el-select placeholder="全部通道" v-model="chanelOptions_id">
          <el-option
            v-for="(item,index) in chanelOptions"
            :key="index"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
      </label>
        <!-- <label class="inp">
          <label>
            <el-select
              v-model="merchant_id"
              placeholder="成功, 已返回"
              filterable
            >
              <el-option
                v-for="(item,index) in typeOptions"
                :key="index"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </label>
        </label> -->
        <label class="inp">
        <el-select placeholder="全部类型" v-model="pay_type_id" filterable>
          <el-option
            v-for="(item,index) in classifyOptions"
            :key="index"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
        </label>
      </label>

      <!-- 按钮 -->
      <label class="btn">
        <el-button type="primary" class="mySearch_btn" @click="handleSearch"
          >搜索</el-button
        >
        <el-button type="primary" class="myExport_btn" @click="handleExport"
          >导出数据</el-button
        >
      </label>
    </div>
    <!-- 资金变动列表 -->
    <el-table :data="tableData" border style="width: 100%;text-align: center">
      <el-table-column prop="id" label="id"></el-table-column>
      <el-table-column
        prop="order_id"
        label="订单号"
      ></el-table-column>
      <el-table-column prop="merchant.username" label="用户名"></el-table-column>
      <el-table-column prop="type.name" label="类型"></el-table-column>
      <!-- <el-table-column label="用户名"></el-table-column>
            <el-table-column label="提成级别"></el-table-column> -->
      <el-table-column prop="change_money" label="变动金额"></el-table-column>
      <el-table-column prop="charge_time" label="变动时间"></el-table-column>
      <!-- <el-table-column
        prop="order.channel.title"
        label="通道"
      ></el-table-column> -->
      <el-table-column prop="change_money" label="备注"></el-table-column>
      <el-table-column prop="change_money" label="操做"></el-table-column>

    </el-table>
    <!-- 分页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="+currentPage"
      background
      :page-sizes="[20, 50, 100, 200]"
      :page-size="+pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="+total"
    >
    </el-pagination>
  </div>
</div>
